* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 1.5rem;
}

table {
    width: 90vw;
    margin-top: 2rem;
    border-collapse: separate;
    border-spacing: 0px;

    tr {
        box-shadow: 0px 1px 0px 0px #a3a3a3;
        z-index: 100;

        th,
        td {
            padding: 5px 0 10px 0;

            img {
                margin-left: 2vw;
            }
        }

        th {
            text-align: left;
        }

        td {
            cursor: pointer;
        }
    }

    tbody tr:hover {
        background-color: #01143b;
    }
}

.q1Table th::before {
    content: "1. ";
}

.q2Table th::before {
    content: "2. ";
}

.q3Table th::before {
    content: "3. ";
}

.q4Table th::before {
    content: "4. ";
}

.q5Table th::before {
    content: "5. ";
}

form section {
    display: flex;

    input[type="submit"] {
        width: 20%;
        background-color: #84ce7b;
        padding: 10px 30px;
        border-radius: 10px;
        border: none;
        margin: 2rem 0;
    }
}
.result{
    font-weight: bold;
    font-size: 2em;
    margin-top: 2rem;
}

.hideScore{
    display: none;;
}

.showScore{
    display: block;
}

@media screen and(min-width: 1024px) {
    form section input[type="submit"] {
        width: 100%;
        margin-left: auto;
    }
}

@media screen and(max-width: 768px) {
    form section input[type="submit"] {
        width: 100%;
        margin: 2rem auto;
    }
}